@import '../../global.scss';

.projects-container {
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;

  .projects {
    position: absolute;
    top: $navBarWidth;
    bottom: 0;
    max-width: 1400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: center;
      margin: 2%;
    }

    .nav-projects-container {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      .ul {
        width: 80%;
        display: flex;
        justify-content: center;

        li {
          padding: 10px;
          line-height: 26px;
          width: 150px;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;
          list-style: none;
          a {
            display: block;
            color: #555;
            padding: 5px;
            width: 100%;
            text-decoration: none;
            border-top: 1px solid #bbb;
            border-left: 1px solid #bbb;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
            box-shadow: 6px 6px 6px black;
            font-size: 26px;
            &:active {
              color: black;
            }
          }
          .active {
            font-size: 24px;
            transform: translate(2px, 2px);
            box-shadow: 2px 2px 2px black;
          }
        }
      }
    }
    .content {
      flex-grow: 1;
      width: 100%;
      height: 40px;
    }
  }
}
