@import '../../global.scss';

.projects-container {
  scroll-snap-align: start;
  z-index: 1;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 100px;
  @include mobileFour {
    min-height: 500px;
  }
  .projects {
    position: relative;
    top: $navBarWidth;
    max-width: 1400px;
    width: 100%;
    .nav-projects-container {
      @include flex-center;
      margin: 3% 0;
      width: 100%;
      .ul {
        width: 90%;
        @include flex-center;
        @include mobileThree {
          width: 100%;
        }
        @include mobileFour {
          display: none;
        }

        li {
          padding: 10px;
          line-height: 26px;
          width: 25%;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;
          list-style: none;
          margin: 0 2%;
          -webkit-tap-highlight-color: transparent;
          @include mobileThree {
            margin: 0 1%;
            width: 35%;
          }
          @include mobileFour {
            margin: 0 2px;
            padding: 10px 2px;
          }
          a {
            display: block;
            color: $contrastColor;
            padding: 5%;
            width: 100%;
            text-decoration: none;
            border-top: 1px solid #bbb;
            border-left: 1px solid #bbb;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
            box-shadow: 6px 6px 6px black;
            font-size: 26px;
            transition: all 0.1s ease;
            &:active {
              color: none;
            }
            @include mobileTwo {
              font-size: 22px;
            }
            @include mobileFour {
              font-size: 17px;
              padding: 3%;
            }
          }
          .active {
            font-size: 24px;
            transform: translate(2px, 2px);
            box-shadow: 2px 2px 2px black;
            @include mobileTwo {
              font-size: 20px;
            }
            @include mobileFour {
              font-size: 15px;
            }
          }
        }
      }
    }
    .content {
      width: 100%;
    }
  }
}
