@import '../../global.scss';

.contact-container {
  scroll-snap-align: start;
  min-height: 100vh;
  @include flex-center;

  // position: fixed;
  z-index: -1;
  padding-top: 30px;
  .contact-box {
    @include flex-center;
    background-color: $contrastColor;
    border-radius: 5px;
    @include mobileThree {
      flex-direction: column;
    }
    .contact {
      .phone,
      .email {
        border-radius: 3px;
        border: 1px solid white;
        box-shadow: 0 0 1px 1px black;
        @include flex-center;
        margin: 20px;
        color: $lightMainColor;
        padding: 15px;
        letter-spacing: 4px;
        @include mobileFour {
          margin: 3px;
        }
        a {
          display: inline-block;
          color: inherit;
          text-decoration: none;
          padding: 15px;
          font-size: 28px;
          @include mobileFour {
            font-size: 16px;
            padding: 6px;
          }
        }
      }
      .phone {
        justify-content: start;
        .phone-number {
          font-size: 60px;
          @include mobileFour {
            font-size: 30px;
          }
        }
      }
      .email {
        .email-address {
          font-size: 60px;
          @include mobileFour {
            font-size: 30px;
          }
        }
      }
    }

    .links-container {
      @include flex-center;

      flex-direction: column;
      margin: 0 25px;
      @include mobileThree {
        flex-direction: row;
      }

      .linkIn-icon {
        color: black;
        padding: 15px;
        font-size: 110px;
        transition: all 0.5s ease;
        -webkit-tap-highlight-color: transparent;
        &:hover {
          color: #0b66c2;
          padding: 0;
        }
        @include mobileThree {
          margin: 0 20px;
        }
        @include mobileFour {
          font-size: 90px;
        }
      }
      .gh-icon {
        color: black;
        padding: 15px;
        font-size: 110px;
        transition: all 0.5s ease;
        -webkit-tap-highlight-color: transparent;
        &:hover {
          color: #fff;
          padding: 0;
        }
        @include mobileThree {
          margin: 0 20px;
        }
        @include mobileFour {
          font-size: 90px;
        }
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $contrastColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    @include mobileFour {
      padding: 5px 5%;
      font-size: 14px;
    }
    .copy {
      @include flex-center;
      flex-direction: row;
      .copy-right-icon {
        color: #fff;
      }
      p {
        margin: 0 10px;
      }
    }
    p {
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
}
