@import '../../global.scss';

.nav-container {
  position: fixed;
  top: -$navBarWidth;
  left: 0;
  width: 100%;
  height: $navBarWidth;
  background-color: #c6cece;
  // background-color: #5b5d74;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active-nav-container {
    top: 0;
  }
  .nav-bar {
    width: 70%;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        // background-color: #fff;
        list-style: none;
        padding: 5px;
        margin: 5px;
        // border-bottom: none;
        // transition: all 0.2s ease;
        a {
          text-transform: uppercase;
          text-decoration: none;
          font-size: 22px;
          color: #000;
          &:active {
            color: #000;
          }
        }
        &.selected {
          // background-color: yellow;
          // border-radius: 10px;
          // color: white;
          // padding: 5px;
          border-bottom: 1px solid #fff;
        }
        &:hover {
          transform: translateY(2px);
        }
      }
    }
  }
}
