@import '../../global.scss';

.nav-container {
  position: fixed;
  z-index: -20;
  top: -$navBarWidth;
  left: 0;
  width: 100%;
  opacity: 0;
  height: $navBarWidth;
  background-color: $contrastColor;
  @include flex-center;
  transition: all 0.1s ease-out;
  &.active-nav-container {
    opacity: 1;
    position: fixed;
    z-index: 2;
    top: 0;
    // bottom: 0;
  }
  .nav-bar {
    width: 70%;

    @include mobileOne {
      width: 80%;
    }
    @include mobileTwo {
      width: 90%;
    }
    @include mobileFour {
      width: 100%;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      @include mobileThree {
        justify-content: space-between;
        padding: 0 20px;
      }
      @include mobileFour {
        padding: 0 2%;
      }
      @include mobileFive {
        padding: 0 0;
      }

      li {
        list-style: none;
        padding: 5px;
        margin: 5px;
        transition: all 0.2s ease;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 26px;
        color: $lightMainColor;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        .active {
          border-bottom: 2px solid #333;
        }

        &:hover {
          transform: translateY(2px);
        }
        @include mobileOne {
          font-size: 24px;
          font-weight: 400;
        }
        @include mobileFour {
          font-size: 22px;
          font-weight: 300;
        }
        @include mobileFive {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }
}
