@import '../../../global.scss';
.item {
  position: relative;
  background-color: $lightMainColor;
  border: 1px solid #000;
  width: 250px;
  height: 250px;
  margin: 15px;
  font-size: 36px;
  -webkit-tap-highlight-color: transparent;
  @include flex-center;
  @include mobileOne {
    margin: 10px;
    font-size: 30px;
  }
  @include mobileTwo {
    margin: 8px;
    font-size: 30px;
  }
  @include mobileThree {
    width: 250px;
    height: 250px;
    margin: 16px;
    font-size: 30px;
  }
  @include mobileFour {
    width: 300px;
    height: 300px;
    margin: 16px;
    font-size: 34px;
  }
  h4 {
    text-transform: uppercase;
    text-align: center;
    margin: auto 0;
  }
  img {
    cursor: pointer;
    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include mobileThree {
      opacity: 0.6;
    }
    @include mobileFour {
      opacity: 0.6;
    }
  }
  img:hover {
    opacity: 0.4;
  }
}
.info {
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 5%;
  position: fixed;
  z-index: 200;
  background-color: darken($lightMainColor, 60%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
  @include mobileThree {
    top: 15%;
    left: 5%;
    right: 5%;
    bottom: 1%;
  }
  @include mobileFour {
    top: 15%;
    left: 3%;
    right: 3%;
  }
  @include mobileHorizontal {
    top: 18%;
  }
  &.active {
    display: flex;
  }
  .info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      padding-left: 5%;
      color: $lightMainColor;
      font-size: 44px;
      letter-spacing: 5px;
      @include mobileTwo {
        font-size: 38px;
      }
      @include mobileThree {
        font-size: 30px;
      }
      @include mobileFour {
        font-size: 22px;
      }
      @include mobileHorizontal {
        font-size: 18px;
        font-weight: 300;
      }
    }
    .close {
      margin: 2%;
      font-size: 60px;
      color: $lightMainColor;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      -webkit-tap-highlight-color: transparent;
      &:hover {
        transform: rotate(-90deg);
      }
      @include mobileThree {
        font-size: 40px;
      }
      @include mobileFour {
        font-size: 30px;
      }
    }
  }
  .info-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @include mobileFour {
      flex-direction: column;
      align-items: center;
    }
    p {
      margin: 3%;
      font-weight: 300;
      text-align: justify;
      word-spacing: 3px;
      letter-spacing: 2px;
      font-size: 20px;
      color: $lightMainColor;
      @include mobileTwo {
        margin: 2%;
        font-size: 18px;
        word-spacing: 2px;
        letter-spacing: 1px;
      }
      @include mobileThree {
        font-size: 16px;
      }
      @include mobileHorizontal {
        font-size: 14px;
      }
    }
    img {
      margin-right: 3%;
      width: 100%;
      height: auto;
      max-width: 400px;
      max-height: 500px;
      image-orientation: center;
      @include mobileTwo {
        margin-right: 2%;
        max-width: 300px;
        max-height: 400px;
      }
      @include mobileThree {
        max-width: 200px;
        max-height: 300px;
      }
      @include mobileFour {
        display: none;
      }
    }
  }
  .info-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    .icons {
      font-size: 80px;
      cursor: pointer;
      padding: 10px 15px;
      font-weight: 200;
      color: $lightMainColor;
      -webkit-tap-highlight-color: transparent;
      &:hover {
        color: $contrastColor;
      }
      @include mobileThree {
        font-size: 60px;
      }
      @include mobileHorizontal {
        font-size: 60px;
      }
    }
  }
}
