@import './global.scss';
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  @include mobileOne {
    scroll-snap-type: unset;
  }
  scrollbar-width: thin;
  overflow-y: scroll;

  .app {
    height: 100%;
    @include mobileFour {
    }
    .pages {
      height: 100vh;

      > * {
        position: relative;
      }
    }
  }
}
